NET "button1" LOC = P51 | IOSTANDARD = LVTTL | PULLUP;
NET "button3" LOC = P35 | IOSTANDARD = LVTTL | PULLUP;
NET "button5" LOC = P30 | IOSTANDARD = LVTTL | PULLUP;

NET "button7" LOC = P50 | IOSTANDARD = LVTTL | PULLUP;
NET "button9" LOC = P34 | IOSTANDARD = LVTTL | PULLUP;
NET "button11" LOC = P29 | IOSTANDARD = LVTTL | PULLUP;

NET "button13" LOC = P127 | IOSTANDARD = LVTTL | PULLUP;
